p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.blurb1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.blurb2 {
    font-size: 24px;
    font-family: 'Ibarra Real Nova', serif;
}

.blurb3 {
    line-height: 50px;
    font-family: 'Anton', sans-serif;
}